<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Angular 6/24</title>
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/FE-app.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-include="'partials/header.html'"></div>
    <div ng-controller = 'fridayController'>
        <input type="text" name="testInput" id='testInput' ng-model ='inputModel1'value="">
    <div ng-include="'partials/button.html'"></div>
    </div>
  </body>
</html>
